html, body {
	position: relative;
	width: 100%;
	display: flex;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	/*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;*/
	font-family: 'Roboto', sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

input, button, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	border: 1px solid #ccc;
	border-radius: 2px;
	flex-grow: 1;
}

input[type=text], input[type=number], select {
	border-style: none;
	border-bottom: 2px solid #333333;
	margin: 5px
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	text-align: center;
	-moz-appearance: textfield;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.field {
	display: flex;
	flex-direction: row;
	width: 90%;
	margin: 10px;
}

.fieldname {
	min-width: 10%;
	padding-top: 10px;
}

.textin {
	display: grid;
	grid-template-columns: 1fr 4fr;
	width: 100%;
	margin: 0 10px;
}

.textname {
	min-width: 20%;
	padding-top: 15px;
}

.row {
	display: flex;
	flex-direction: row;
}

.enhanced_attr {
	color: mediumseagreen;
}

.worsened_attr {
	color: orangered;
}